body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;
}

.salario__input {
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 10px 0px 10px 10px;
    background-color: #2d2b2b;
    color: #ffffff;
    border-radius: 25px;
}

h1,
h4 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    color: #ffffff;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 600px;
        margin: 0 auto;
    }
}

.salario__input {
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 10px 0px 10px 10px;
    background-color: #2d2b2b;
    color: #ffffff;
    border-radius: 25px;
    font-size: 16px;
}

.view-mode__div {
    margin: 10px 0px 10px 0px;
    text-align: right;
    font-size: 20px;
}

.social__div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon-margin {
    margin-right: 5px;
}

/* icons */

.linkedin-icon {
    color: #0077B5;
}

.github-icon {
    color: #ffffff;
}